@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

li{
  margin-top: 5px;
  font-size: 1em;
}
/* .sidenav {
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1d1c1c;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1em;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #857575;
} */
