/.EtapeInfo.java._trace
/.FakeInterpreter.java._trace
/.Interpreter.java._trace
/.ReponseType.java._trace
/.TestSwitch.java._trace
/.EtapeInfo.xtendbin
/.FakeInterpreter.xtendbin
/.Interpreter.xtendbin
/.ReponseType.xtendbin
/.TestSwitch.xtendbin
/EtapeInfo.java
/FakeInterpreter.java
/Interpreter.java
/ReponseType.java
/TestSwitch.java
