<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answer">
            <h2><span>Answer</span> {{answer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Resp</span></dt>
                <dd>
                    <span>{{answer.resp}}</span>
                </dd>
                <dt><span>Step User Answer</span></dt>
                <dd>
                    <div *ngIf="answer.stepUserAnswerId">
                        <a [routerLink]="['/step-user-answer-wf-instance', answer.stepUserAnswerId, 'view']">{{answer.stepUserAnswerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer', answer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
