<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="role">
            <h2><span>Role</span> {{role.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Role</span></dt>
                <dd>
                    <span>{{role.role}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="role.userId">
                        <a [routerLink]="['/mdl-user', role.userId, 'view']">{{role.userId}}</a>
                    </div>
                </dd>
                <dt><span>Workflow Instance</span></dt>
                <dd>
                    <div *ngIf="role.workflowInstanceId">
                        <a [routerLink]="['/workflow-instance', role.workflowInstanceId, 'view']">{{role.workflowInstanceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/role', role.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
