<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-workflow-instance-heading">Create or edit a Workflow Instance</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_state">State</label>
                    <select class="form-control" id="field_state" name="state" formControlName="stateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workflowInstanceStateOption.id" *ngFor="let workflowInstanceStateOption of states; trackBy: trackById">{{ workflowInstanceStateOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_wfModel">Wf Model</label>
                    <select class="form-control" id="field_wfModel" name="wfModel" formControlName="wfModelId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workflowModelOption.id" *ngFor="let workflowModelOption of workflowmodels; trackBy: trackById">{{ workflowModelOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="field_guests">Guests</label>
                    <select class="form-control" id="field_guests" multiple name="guests" formControlName="guests">
                        <option [ngValue]="getSelected(editForm.get('guests')!.value, mdlUserOption)" *ngFor="let mdlUserOption of mdlusers; trackBy: trackById">{{ mdlUserOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_creator">Creator</label>
                    <select class="form-control" id="field_creator" name="creator" formControlName="creatorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="mdlUserOption.id" *ngFor="let mdlUserOption of mdlusers; trackBy: trackById">{{ mdlUserOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
