<ul class="">
    <p>{{this.question.reponseType}}</p>
    <div class="list-group-item">
        <jhi-radio *ngIf="'RADIOBOX' === this.question.reponseType" [question]="this.question"></jhi-radio>
        <jhi-checkbox *ngIf="'CHECKBOX' === this.question.reponseType" [question]="this.question"></jhi-checkbox>
        <jhi-textfield *ngIf="'TEXTFIELD' === this.question.reponseType" [question]="this.question"></jhi-textfield>
        <jhi-date-selector *ngIf="'DATE' === this.question.reponseType" [question]="this.question"></jhi-date-selector>
    </div>
</ul>
