<ul class="">
    <div class="list-group-item">
        <jhi-radio *ngIf="'RADIOBUTTON' === this.question.questionType" [question]="this.question"></jhi-radio>
        <jhi-checkbox *ngIf="'CHECKBOX' === this.question.questionType" [question]="this.question"></jhi-checkbox>
        <jhi-textfield *ngIf="'TEXTFIELD' === this.question.questionType" [question]="this.question"></jhi-textfield>
        <jhi-date-selector *ngIf="'CALENDAR' === this.question.questionType" [question]="this.question"></jhi-date-selector>
    </div>
</ul>
