<div class="jumbotron" style="text-align: center;">
    <h2>WORKFLOW CREATION</h2>
</div>
<div class="form-group">
  Titre de l'événement : {{ this.wf.title}}
</div>
<div class="form-group">
  Description : {{ this.wf.description}}
</div>
<form [formGroup]="instantiateModel" (ngSubmit)="onSubmitForm()">
  <div class="form-group">
      <label for="emails">
        Veuillez entrer les emails des participants (séparer par des ','):
      </label>
    <input id="email" class="form-control" placeholder="Ex: pat@example.com, bob@eponge.com" name="emails" formControlName="emails">
    <div *ngIf="!instantiateModel.valid" class="invalid-feedback">Please enter a valid email address</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="instantiateModel.invalid">Soumettre</button>
</form >
 {{ this.emails}}

