<div class="main">

    <div class="middle_container container">
        <p>{{this.description}}</p>
    </div>
    <div class="right_container container">
        <p>{{ this.creatorLogin }}</p>
    </div>
    <div class="right_container container">
        <button  class="btn btn-sm btn-success manage_button detail_button"
                 [routerLink]="['/survey', this.userLogin, this.event.id]">
            Démarrer
        </button>
        <button class="btn btn-sm btn-danger manage_button" (click)="delete()">Quitter</button>
    </div>
</div>
