# Ignore plugin.xml_gen and feature.xml_gen files, when build Eclipse Plugins.
*.xml_gen

# eclipse/xtext-lib
/.m2/
bin/
build/
.gradle/
*._trace
*.xtendbin
org.eclipse.buildship.core.prefs
.DS_Store
