<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-current-step-heading">Create or edit a Current Step</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_stepIdent">Step Ident</label>
                    <input type="number" class="form-control" name="stepIdent" id="field_stepIdent"
                           formControlName="stepIdent"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_numberOfAnswer">Number Of Answer</label>
                    <input type="number" class="form-control" name="numberOfAnswer" id="field_numberOfAnswer"
                           formControlName="numberOfAnswer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_workflowInstanceState">Workflow Instance State</label>
                    <select class="form-control" id="field_workflowInstanceState" name="workflowInstanceState" formControlName="workflowInstanceStateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="workflowInstanceStateOption.id" *ngFor="let workflowInstanceStateOption of workflowinstancestates; trackBy: trackById">{{ workflowInstanceStateOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
