<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="currentStep">
            <h2><span>Current Step</span> {{ currentStep.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Step Ident</span></dt>
                <dd>
                    <span>{{ currentStep.stepIdent }}</span>
                </dd>
                <dt><span>Number Of Answer</span></dt>
                <dd>
                    <span>{{ currentStep.numberOfAnswer }}</span>
                </dd>
                <dt><span>Workflow Instance State</span></dt>
                <dd>
                    <div *ngIf="currentStep.workflowInstanceStateId">
                        <a [routerLink]="['/workflow-instance-state', currentStep.workflowInstanceStateId, 'view']">{{ currentStep.workflowInstanceStateId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/current-step', currentStep.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
