<div>
    <h2 id="page-heading">
        <span>Current Steps</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-current-step" [routerLink]="['/current-step/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Current Step
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="currentSteps?.length === 0">
        <span>No currentSteps found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="currentSteps?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Step Ident</span></th>
                    <th scope="col" ><span>Number Of Answer</span></th>
                    <th scope="col" ><span>Workflow Instance State</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let currentStep of currentSteps ;trackBy: trackId">
                    <td><a [routerLink]="['/current-step', currentStep.id, 'view']">{{ currentStep.id }}</a></td>
                    <td>{{ currentStep.stepIdent }}</td>
                    <td>{{ currentStep.numberOfAnswer }}</td>
                    <td>
                        <div *ngIf="currentStep.workflowInstanceStateId">
                            <a [routerLink]="['/workflow-instance-state', currentStep.workflowInstanceStateId , 'view']" >{{ currentStep.workflowInstanceStateId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/current-step', currentStep.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/current-step', currentStep.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(currentStep)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
