<div>
    <h2 id="page-heading">
        <span>Steps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-step" [routerLink]="['/step/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Step
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="steps?.length === 0">
        <span>No steps found</span>
    </div>
    <div class="table-responsive" *ngIf="steps?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Mandatory</span></th>
            <th scope="col" ><span>Answered</span></th>
            <th scope="col" ><span>Deadline</span></th>
            <th scope="col" ><span>Next Step</span></th>
            <th scope="col" ><span>Wf Instance</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let step of steps ;trackBy: trackId">
                <td><a [routerLink]="['/step', step.id, 'view' ]">{{step.id}}</a></td>
                <td>{{step.mandatory}}</td>
                <td>{{step.answered}}</td>
                <td>{{step.deadline | date:'mediumDate'}}</td>
                <td>{{step.nextStep}}</td>
                <td>
                    <div *ngIf="step.wfInstanceId">
                        <a [routerLink]="['/workflow-instance', step.wfInstanceId , 'view' ]" >{{step.wfInstanceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/step', step.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/step', step.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(step)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
