<div>
    <h2 id="page-heading">
        <span>Mdl Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mdl-user" [routerLink]="['/mdl-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Mdl User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mdlUsers?.length === 0">
        <span>No mdlUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mdlUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>User</span></th>
                    <th scope="col" ><span>Current Step</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mdlUser of mdlUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/mdl-user', mdlUser.id, 'view']">{{ mdlUser.id }}</a></td>
                    <td>
                        {{ mdlUser.userId }}
                    </td>
                    <td>
                        <div *ngIf="mdlUser.currentStepId">
                            <a [routerLink]="['/current-step', mdlUser.currentStepId , 'view']" >{{ mdlUser.currentStepId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mdl-user', mdlUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mdl-user', mdlUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mdlUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
